<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/table_head %>
    <% include ../partials/head %> 
    
  </head>
  <body>
    <div id="wrapper">
      <% include ../partials/sidebar %>
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <% include ../partials/topbar %>
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Transaction Report</h1>
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <a
                href="#"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                ><i class="fas fa-download fa-sm text-white-50"></i> Generate
                Report</a
              >
            </div>
            <div  class="d-sm-flex align-items-center justify-content-between mb-4" >
              <form action="/report/filter" method="post">
                <div class="form-group">
                  <label for="transionId">Transaction ID</label>
                  <input id="transionId" class="form-control" type="text" name="transionId">
                </div>
                <div class="form-group">
                  <label for="pin">Pin Number</label>
                  <input id="pin" class="form-control" type="text" name="pin">
                </div>
                <div class="form-group">
                  <label for="merchant">Merchant</label>
                  <select id="merchant" class="custom-select" name="merchant">
                    <option>....</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="event">event</label>
                  <select id="event" class="custom-select" name="event">
                    <option>....</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="status">Status</label>
                  <input id="status" class="form-control" type="text" name="status">
                </div>
                <div class="form-group">
                  <label for="from_date">From</label>
                  <input id="from_date" class="form-control" type="date" name="from_date">
                  <label for="to_date">to</label>
                  <input id="to_date" class="form-control" type="date" name="to_date">
                </div>
              </form>
            </div>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered dataTables_wrapper"
                    id="dt_table"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead align="center">
                      <tr>
                        <th>Transaction ID</th>
                        <th>Date/Time</th>
                        <th>User Name</th>
                        <th>PIN Number</th>
                        <th>Event</th>
                        <th>Merchant</th>
                        <th>Item</th>
                        <th>Contact Phone Number</th>
                        <th>Status</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <% reports.forEach(report => { %>
                      <tr>
                        <td><%=report.transid %></td>
                        <td><%=report.trans_date_time %></td>
                        <td><%=report.username %></td>
                        <td><%=report.pin_code_number %></td>
                        <td><%=report.event_name %></td>
                        <td><%=report.merchant_name %></td>
                        <td><%=report.item %></td>    
                        <td><%=report.phonenumber %></td>           
                        <td><%=report.status %></td>      
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <% include ../partials/table_scripts %>
    <% include ../partials/scripts %> 
    <script>
      $(document).ready(function() {
        $('#dt_table').DataTable(
            {
                searching: false, 
                info: false
            });
    } );
    </script>
    
  </body>
</html>
